body{
    font-family: Arial, Helvetica, sans-serif;
}

.caja{
    width: 90%;
    height: 240px;
    position: relative;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.imagenLogo{
    height: 280px;
    width: 280px;
}

.banner{
    width: 90%;
    height: 500px;
    margin: 5%;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 20px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.burrito{
        width:120px;
        float: left;
        margin: 0 20px 20px 0;
    
}

.principal{
    padding: 3em;
    background-color: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
    text-align: justify;

}

.principal strong{
    font-weight: bold;
}


.titulo-principal{
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 1em;
    clear: left;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

/*para darle el degradado de color a las secciones*/
.diferenciales{
    padding: 3em 0;
    background-color: #888888;
}


.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;

}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}
.items::before{
    content: "✶";
}

.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #000000;
   
}
.imagen-diferenciales:hover{
    opacity: 0.3;
    transition: 400ms;

}

.font-body{
    font-family: 'Montserrat', sans-serif;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;

}

.copyright{
    color: #FFFF;
    font-size: 13px;
    margin: 20px;

}

.imagenFooter{
    height: 200px;
    width: 200px;
}

.productos{
    width: 940px;
    margin: 0 auto; 
    padding: 50px;  
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;

}
.productos li:hover{
    border-color: #c78c19;
}

.productos li:active{
    border-color: #088c19;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.sizePiñatas{
    height: 300px;
    width: 230px;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 20px 20px 10px;
}

.input-padron{
    display: block;
    margin: 20px 20px;
    padding: 10px 25px;
    width: 50%;
}

#mensaje{
    margin: 20px;
}


.checkbox{
    margin: 20px 20px;
}

.enviar{
    width: 40%;
    padding: 15px 15px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 20px;
}

.enviar:hover{
    background-color: green;
    transform: scale(1.2);

}
table{
    margin: 40px 40px;

}

thead{
    background: lightblue;
    color: black;
    font-weight: bold;

}

td,th{
    border: 1px solid black;
    padding: 8px 15px;
    text-align: center;
    
}

/* querys para hacer responsiva nuestra pagina */

@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .imagenLogo{
        width: 150px;
        height: 150px;
    }

    .banner{
        height: 250px;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales{
        width: auto;
    }

    .productos, .productos li{
        width:auto;
        margin: 3px;
        display: block;
       
    }

    #mensaje{
        width: 62%;
    }

    .enviar{
        width: 50%;
        text-align: center;
    }
    
}

/* para ipad mini */
@media screen and (max-width:1024px) {
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .imagenLogo{
        width: 150px;
        height: 150px;
    }

    .banner{
        height: 250px;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales{
        width: auto;
    }

    .productos, .productos li{
        width:auto;
        margin: 3px;
        display: block;
       
    }

    #mensaje{
        width: 62%;
    }

    .enviar{
        width: 50%;
        text-align: center;
    }
    
}